body {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.container{
  background-color: #252d4a;
  width: 650px;
  min-height: 250px;
  height: min-content;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; /* Change Orientation of Whole Section */
}

.score-section {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}
.top{
  display: flex;
}
.questionSection {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  /* width: 100%; */
}
.timer{
  flex-basis: 40%;
}
.questionCount {
  margin-bottom: 20px;
}

.questionCount span {
  font-size: 28px;
}

.questionText {
  margin-bottom: 12px;
  padding-right: 20px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.answer{
  display: flex;
  align-items: center;
}
.answer span{
  margin-right: 1px;
  font-size: 16px;
  width: 20px;
}

.ansBtn {
  width: 100%;
  font-size: 16px;
  color: #cecaca;
  background-color: #252d4a;
  display: flex;
  padding: 10px 13px;
  margin-block: 5px;
  border: 2px solid #234668;
  cursor: pointer;
  position: relative;
}
.ansBtn::before{
  content: '';
  height: 0%;
  width: 100%;
  background: #0575e6;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s;
}
.ansBtn:hover::before{
  height: 5px;
}
.authSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #login{ */
#signup{
  display: none;
}
.btn{
  width: max-content;
  font-size: 16px;
  color: #76ade4;
  background-color: #252d4a;
  display: flex;
  padding: 10px 25px;
  margin-top: 15px;
  border: 2px solid #234668;
  cursor: pointer;
  position: relative;
  text-align: center;
}
input{
  width: 50%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  padding: 10px;
  margin-block: 5px;
  border: 2px solid #234668;
}
input:focus{
  outline: none;
  border-bottom-color: #76ade4;
}
.btn:hover{
  border-color: #76ade4;

}
.authSection h3 {
  color: #fff;
}
.authSection p{
  width: 50%;
  border-top: 0.1rem solid #5b7df850;
  margin-top: 1rem;
  text-align: center;
  padding-top: 1rem;
  color: #76ade4;
}
.emptyError{
  display: none;
  color: rgb(253, 67, 67);
  letter-spacing: .7px;
  font-weight: 500;
}
p span{
  color: #3c94ec;
  text-decoration: underline;
  cursor: pointer;
}
.subjectSection{
  display: flex;
  flex-direction: column;
}
.subjectSection h1{
  margin: 10px 1rem;
}
.row{
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}
.subject{
  align-items: center;
  display: flex;
  margin: 10px 1rem;
  background-color: #32374b;
  padding: 0 25px;
  justify-content: space-around;
}
.subject p{
  font-size: 18px;
  flex-basis: 65%;
}
.btnQuiz{
  font-size: 15px;
  color: #fff;
  width: 25%;
  text-transform: uppercase;
  background-color: #252d4a;
  padding: 8px;
  margin-block: 15px;
  border: 3px solid #252d4a;
  cursor: pointer;
  text-align: center;
}
.btnQuiz:hover{
  border: 3px solid #234668;
}